<button mat-button class="signin-btn" (click)="setBuyer()">Acheteur</button>
<button mat-button class="signin-btn" (click)="setSeller()">Vendeur</button>

<div class="signin-container">
    <mat-form-field>
        <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Prénom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Mot de passe">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Téléphone">
    </mat-form-field>
    <mat-form-field *ngIf="isScrapYard">
        <input matInput placeholder="N°">
    </mat-form-field>
    <mat-form-field *ngIf="isScrapYard">
        <input matInput placeholder="Rue">
    </mat-form-field>
    <mat-form-field *ngIf="isScrapYard">
        <input matInput placeholder="Code postal">
    </mat-form-field>
    <mat-form-field *ngIf="isScrapYard">
        <input matInput placeholder="Ville">
    </mat-form-field>
    <button mat-button class='send-btn'>Envoyer</button>
    <button mat-button class='send-btn' (click)='sendMock()'>Test mock</button>
</div>