.login-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.login-container > * {
    width: 100%;
}

.login-btn {
    margin: 10px;
    background-color: rgb(255, 204, 0);
} 